
@font-face {
    font-family: FuturaDemiC;
    src: url(assets/Futurademic.otf);
}

@font-face {
    font-family: FuturaBookC;
    src: url(assets/Futurabookc.otf);
}

@font-face {
    font-family: Yeseva One;
    src: url(assets/YesevaOne-Regular_v2.otf);
}