@media screen and (max-width: 1000px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    .button-type,
    .buffer-left,
    .buffer-right{
      display: none;
    }
  }
  
}
@media screen and (max-width: 1200px) {
  .container_three-two #form_one {
    width: 80%;
    height: 115px;
    .button-type{
        order: 4;
      }
  }
}


@media screen and (max-width: 850px) {
  .site-wrapper{
    width: 375px;
  }
  .header {
    .nav-link{
      display: none;
    }
    .phone-link{
      color: white;
      text-decoration: none;
    }
    h1, .phone-link{
      font-size: 13px;
    }
  }
  .flex-container_one{ 
    height: 480px;
    .scroll-down-block{
      display: none;
    }
    .sidebar-left{
      display: none;
    }
    .content-section{
      //background: url('assets/image\ 4.7.png');
      //background-size: cover;
      .content-container{
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        left:0px;
        top:85px;
        
        .text-head{
          font-size: 23px;
          line-height: 30px;
          padding-right: 35px;
        }
        .text-block{
          font-size: 18px;
          line-height: 23px;
          padding-right: 75px;
        }
        .button-flex-container{
          width: 100%;
          height: 130px;
          margin-top: 40px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-content: space-between;
          .button-type_one{
            width: 100%;
            &:nth-of-type(2){
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .flex-container_two{
    height: 690px;
    .column-left{
      padding: 5px;
      padding-top: px;
      align-items: center;
      flex-grow: 1;
      .text-head{
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.07em;
        padding: 0;
        &::after{
          display: none;
        }
      }
      .text-block{
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
      }
      .charachter-box{
        width: 95%;
        .charachter-item{
          .head{
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 138.6%;
          }
          .text{
            font-family: FuturaBookC;
            font-size: 14px;
            line-height: 135.84%;
            color: #FFFFFF;
          }
        }
      }
      .slider{
        display: none;
      }
      .mobile-slider{
        position: relative;
        display: block;
        width: 94%;
        .pic{
          width: 100%;
        }
        .arrow{
        width: 36px;
        height: 36px;
        
        background-size: cover;
        position: absolute;
        top:50%;
        margin-top: -18px;
          &:hover{
            transform: scale(1.1);
            cursor: pointer;
          }
        }
        .arrow-right{
            right: 10px;
            background-image: url(assets/arrow-right_one.svg);
        }
        .arrow-left{
            left: 10px;
            background-image: url(assets/arrow-left_one.svg);
        }
      }
    }
    .column-right{
      display: none;
    }
  }
  .container_three-one{
    height: 390px;
     .video {
      width: 340px;
      height: 207px;
      position: relative;
    }
  }
  .container_three-two{
    background: linear-gradient(#131313), linear-gradient(white) ;
    background-size: 100% 440px, 100% 50px;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    .text-block{
      font-family: FuturaBookC;
      font-size: 14px;
      line-height: 169.8%;
      text-align: center;
      color: #FFFFFF;
    }
    #form_one{
      width:90%;
      height: 250px;
      .name,
      .tel{
        width: 100%;
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 20px;
      }
      input[type='text'],
      input[type='tel']{
        background: none;
        color: white;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        &::placeholder{
          color: white;
        }
      }
      .mycheckbox__descr{
        font-family: FuturaBookC;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
      }
      .button-type{
        order: 4;
        width: 100%;
      }
    }
  }
  .container_four{
    .flex-container_four{
      padding-left: 15px;
      padding-right: 15px;
      .flex-item{
        height: 490px;
        .descr-block{
          height: 240px;
          .head{
            font-size: 15px;
            line-height: 138.6%;
          }
          left: 0; 
          right: auto;
          .descr-list{
            font-size: 13px;
            line-height: 169.8%;
          }
        }
        .price{
        width: 190px;
        height: 40px;
        line-height: 40px;
        left:0;
        font-size: 15px;
        }
      }
    }
  }
  .flex-container_five{
    display: none;
  }
}