@media screen and (max-width: 1000px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    .button-type,
    .buffer-left,
    .buffer-right{
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  .site-wrapper{
    width: 375px;
  }
  .header {
    .nav-link{
      display: none;
    }
    .phone-link{
      color: white;
      text-decoration: none;
    }
    h1, .phone-link{
      font-size: 13px;
    }
  }
  .flex-container_one{ 
    height: 480px;
    .sidebar-left{
      display: none;
    }
    .content-section{
      background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('assets/image\ 4.7.png');
      .content-container{
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        left:0px;
        top:85px;
        
        .text-head{
          font-size: 23px;
          line-height: 30px;
          padding-right: 35px;
        }
        .text-block{
          font-size: 18px;
          line-height: 23px;
          padding-right: 75px;
        }
        .button-flex-container{
          width: 100%;
          height: 130px;
          margin-top: 40px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-content: space-between;
          .button-type_one{
            width: 100%;
            &:nth-of-type(2){
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .flex-container_two{
    height: 690px;
    .column-left{
      padding: 5px;
      padding-top: px;
      align-items: center;
      flex-grow: 1;
      .text-head{
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.07em;
        padding: 0;
        &::after{
          display: none;
        }
      }
      .text-block{
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
      }
      .charachter-box{
        width: 95%;
        .charachter-item{
          .head{
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 138.6%;
          }
          .text{
            font-family: FuturaBookC;
            font-size: 14px;
            line-height: 135.84%;
            color: #FFFFFF;
          }
        }
      }
      .slider{
        display: none;
      }
      .mobile-slider{
        position: relative;
        display: block;
        width: 94%;
        .pic{
          width: 100%;
        }
        .arrow{
        width: 36px;
        height: 36px;
        
        background-size: cover;
        position: absolute;
        top:50%;
        margin-top: -18px;
          &:hover{
            transform: scale(1.1);
            cursor: pointer;
          }
        }
        .arrow-right{
            right: 10px;
            background-image: url(assets/arrow-right_one.svg);
        }
        .arrow-left{
            left: 10px;
            background-image: url(assets/arrow-left_one.svg);
        }
      }
    }
    .column-right{
      display: none;
    }
  }

}