@media screen and (max-width: 1000px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .button-type,
  .header .buffer-left,
  .header .buffer-right {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .container_three-two #form_one {
    width: 80%;
    height: 115px;
  }
  .container_three-two #form_one .button-type {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media screen and (max-width: 850px) {
  .site-wrapper {
    width: 375px;
  }
  .header .nav-link {
    display: none;
  }
  .header .phone-link {
    color: white;
    text-decoration: none;
  }
  .header h1, .header .phone-link {
    font-size: 13px;
  }
  .flex-container_one {
    height: 480px;
  }
  .flex-container_one .scroll-down-block {
    display: none;
  }
  .flex-container_one .sidebar-left {
    display: none;
  }
  .flex-container_one .content-section .content-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    left: 0px;
    top: 85px;
  }
  .flex-container_one .content-section .content-container .text-head {
    font-size: 23px;
    line-height: 30px;
    padding-right: 35px;
  }
  .flex-container_one .content-section .content-container .text-block {
    font-size: 18px;
    line-height: 23px;
    padding-right: 75px;
  }
  .flex-container_one .content-section .content-container .button-flex-container {
    width: 100%;
    height: 130px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .flex-container_one .content-section .content-container .button-flex-container .button-type_one {
    width: 100%;
  }
  .flex-container_one .content-section .content-container .button-flex-container .button-type_one:nth-of-type(2) {
    margin-left: 0;
  }
  .flex-container_two {
    height: 690px;
  }
  .flex-container_two .column-left {
    padding: 5px;
    padding-top: px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .flex-container_two .column-left .text-head {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.07em;
    padding: 0;
  }
  .flex-container_two .column-left .text-head::after {
    display: none;
  }
  .flex-container_two .column-left .text-block {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  .flex-container_two .column-left .charachter-box {
    width: 95%;
  }
  .flex-container_two .column-left .charachter-box .charachter-item .head {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 138.6%;
  }
  .flex-container_two .column-left .charachter-box .charachter-item .text {
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 135.84%;
    color: #FFFFFF;
  }
  .flex-container_two .column-left .slider {
    display: none;
  }
  .flex-container_two .column-left .mobile-slider {
    position: relative;
    display: block;
    width: 94%;
  }
  .flex-container_two .column-left .mobile-slider .pic {
    width: 100%;
  }
  .flex-container_two .column-left .mobile-slider .arrow {
    width: 36px;
    height: 36px;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -18px;
  }
  .flex-container_two .column-left .mobile-slider .arrow:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
  .flex-container_two .column-left .mobile-slider .arrow-right {
    right: 10px;
    background-image: url(assets/arrow-right_one.svg);
  }
  .flex-container_two .column-left .mobile-slider .arrow-left {
    left: 10px;
    background-image: url(assets/arrow-left_one.svg);
  }
  .flex-container_two .column-right {
    display: none;
  }
  .container_three-one {
    height: 390px;
  }
  .container_three-one .video {
    width: 340px;
    height: 207px;
    position: relative;
  }
  .container_three-two {
    background: -webkit-gradient(linear, left top, left bottom, from(#131313)), -webkit-gradient(linear, left top, left bottom, from(white));
    background: linear-gradient(#131313), linear-gradient(white);
    background-size: 100% 440px, 100% 50px;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
  }
  .container_three-two .text-block {
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 169.8%;
    text-align: center;
    color: #FFFFFF;
  }
  .container_three-two #form_one {
    width: 90%;
    height: 250px;
  }
  .container_three-two #form_one .name,
  .container_three-two #form_one .tel {
    width: 100%;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
  }
  .container_three-two #form_one input[type='text'],
  .container_three-two #form_one input[type='tel'] {
    background: none;
    color: white;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  }
  .container_three-two #form_one input[type='text']::-webkit-input-placeholder,
  .container_three-two #form_one input[type='tel']::-webkit-input-placeholder {
    color: white;
  }
  .container_three-two #form_one input[type='text']:-ms-input-placeholder,
  .container_three-two #form_one input[type='tel']:-ms-input-placeholder {
    color: white;
  }
  .container_three-two #form_one input[type='text']::-ms-input-placeholder,
  .container_three-two #form_one input[type='tel']::-ms-input-placeholder {
    color: white;
  }
  .container_three-two #form_one input[type='text']::placeholder,
  .container_three-two #form_one input[type='tel']::placeholder {
    color: white;
  }
  .container_three-two #form_one .mycheckbox__descr {
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .container_three-two #form_one .button-type {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }
  .container_four .flex-container_four {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container_four .flex-container_four .flex-item {
    height: 490px;
  }
  .container_four .flex-container_four .flex-item .descr-block {
    height: 240px;
    left: 0;
    right: auto;
  }
  .container_four .flex-container_four .flex-item .descr-block .head {
    font-size: 15px;
    line-height: 138.6%;
  }
  .container_four .flex-container_four .flex-item .descr-block .descr-list {
    font-size: 13px;
    line-height: 169.8%;
  }
  .container_four .flex-container_four .flex-item .price {
    width: 190px;
    height: 40px;
    line-height: 40px;
    left: 0;
    font-size: 15px;
  }
  .flex-container_five {
    display: none;
  }
  .container-six-mobile-wrap {
    background: -webkit-gradient(linear, left top, left bottom, from(white)), -webkit-gradient(linear, left top, left bottom, from(#131313));
    background: linear-gradient(white), linear-gradient(#131313);
    background-size: 100% 220px, 100% 175px;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-six-mobile-wrap .container-six-mobile {
    margin: auto;
    padding-bottom: 50px;
    height: 395px;
  }
  .container-six-mobile-wrap .container-six-mobile .head {
    padding-bottom: 30px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    color: #E3B873;
  }
  .container-six-mobile-wrap .container-six-mobile .mobile-slider {
    position: relative;
    margin: auto;
    display: block;
    width: 94%;
  }
  .container-six-mobile-wrap .container-six-mobile .mobile-slider .pic {
    width: 100%;
  }
  .container-six-mobile-wrap .container-six-mobile .mobile-slider .arrow {
    width: 36px;
    height: 36px;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -18px;
  }
  .container-six-mobile-wrap .container-six-mobile .mobile-slider .arrow:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
  .container-six-mobile-wrap .container-six-mobile .mobile-slider .arrow-right {
    right: 10px;
    background-image: url(assets/arrow-right_one.svg);
  }
  .container-six-mobile-wrap .container-six-mobile .mobile-slider .arrow-left {
    left: 10px;
    background-image: url(assets/arrow-left_one.svg);
  }
  .container_seven {
    background: none;
    background-color: #131313;
  }
  .container_seven .text-container {
    width: 77%;
  }
  .container_seven .text-container .head {
    font-size: 22px;
    line-height: 138.6%;
    color: white;
  }
  .container_seven .text-container .desription {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 135.84%;
    text-align: center;
    color: #FFFFFF;
  }
  .container_seven .flex-container_seven {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container_seven .flex-container_seven .flex-item:nth-of-type(1) {
    height: 420px;
  }
  .container_seven .flex-container_seven .flex-item:nth-of-type(1) .descr-block {
    height: 180px;
  }
  .container_seven .flex-container_seven .flex-item:nth-of-type(2) {
    height: 485px;
  }
  .container_seven .flex-container_seven .flex-item:nth-of-type(2) .descr-block {
    height: 240px;
  }
  .container_seven .flex-container_seven .flex-item:nth-of-type(3) {
    height: 485px;
  }
  .container_seven .flex-container_seven .flex-item:nth-of-type(3) .descr-block {
    height: 240px;
  }
  .container_seven .flex-container_seven .flex-item .hide {
    display: none;
  }
  .container_seven .flex-container_seven .flex-item .descr-block {
    top: 220px;
    left: 0;
    right: auto;
  }
  .container_seven .flex-container_seven .flex-item .descr-block .head {
    font-size: 15px;
    line-height: 138.6%;
  }
  .container_seven .flex-container_seven .flex-item .descr-block .descr-list {
    font-size: 13px;
    line-height: 169.8%;
  }
  .container_seven .flex-container_seven .flex-item .descr-block .descr-list li .hide {
    display: inline;
  }
  .container_seven .flex-container_seven .flex-item .price {
    width: 190px;
    height: 40px;
    line-height: 40px;
    left: 0;
    font-size: 15px;
  }
}
/*# sourceMappingURL=media.css.map */