@media screen and (max-width: 1000px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .button-type,
  .header .buffer-left,
  .header .buffer-right {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .site-wrapper {
    width: 375px;
  }
  .header .nav-link {
    display: none;
  }
  .header .phone-link {
    color: white;
    text-decoration: none;
  }
  .header h1, .header .phone-link {
    font-size: 13px;
  }
  .flex-container_one {
    height: 480px;
  }
  .flex-container_one .scroll-down-block {
    display: none;
  }
  .flex-container_one .sidebar-left {
    display: none;
  }
  .flex-container_one .content-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("assets/image 4.7.png");
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("assets/image 4.7.png");
  }
  .flex-container_one .content-section .content-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    left: 0px;
    top: 85px;
  }
  .flex-container_one .content-section .content-container .text-head {
    font-size: 23px;
    line-height: 30px;
    padding-right: 35px;
  }
  .flex-container_one .content-section .content-container .text-block {
    font-size: 18px;
    line-height: 23px;
    padding-right: 75px;
  }
  .flex-container_one .content-section .content-container .button-flex-container {
    width: 100%;
    height: 130px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .flex-container_one .content-section .content-container .button-flex-container .button-type_one {
    width: 100%;
  }
  .flex-container_one .content-section .content-container .button-flex-container .button-type_one:nth-of-type(2) {
    margin-left: 0;
  }
  .flex-container_two {
    height: 690px;
  }
  .flex-container_two .column-left {
    padding: 5px;
    padding-top: px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .flex-container_two .column-left .text-head {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.07em;
    padding: 0;
  }
  .flex-container_two .column-left .text-head::after {
    display: none;
  }
  .flex-container_two .column-left .text-block {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  .flex-container_two .column-left .charachter-box {
    width: 95%;
  }
  .flex-container_two .column-left .charachter-box .charachter-item .head {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 138.6%;
  }
  .flex-container_two .column-left .charachter-box .charachter-item .text {
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 135.84%;
    color: #FFFFFF;
  }
  .flex-container_two .column-left .slider {
    display: none;
  }
  .flex-container_two .column-left .mobile-slider {
    position: relative;
    display: block;
    width: 94%;
  }
  .flex-container_two .column-left .mobile-slider .pic {
    width: 100%;
  }
  .flex-container_two .column-left .mobile-slider .arrow {
    width: 36px;
    height: 36px;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -18px;
  }
  .flex-container_two .column-left .mobile-slider .arrow:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
  .flex-container_two .column-left .mobile-slider .arrow-right {
    right: 10px;
    background-image: url(assets/arrow-right_one.svg);
  }
  .flex-container_two .column-left .mobile-slider .arrow-left {
    left: 10px;
    background-image: url(assets/arrow-left_one.svg);
  }
  .flex-container_two .column-right {
    display: none;
  }
  .container_three-one {
    height: 390px;
  }
  .container_three-one .video {
    width: 340px;
    height: 207px;
    position: relative;
  }
}
/*# sourceMappingURL=media.css.map */