body {
  background-color: #000000ab;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.upper-case {
  text-transform: uppercase;
}

.button-type {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #E3B873;
  border-radius: 5px;
}

.button-type_one {
  font-size: 15px;
  font-family: FuturaDemiC;
  font-weight: 300;
}

.site-wrapper {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
}

.header {
  height: 85px;
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
}

.header .buffer-left {
  width: 80px;
  -ms-flex-negative: 100;
      flex-shrink: 100;
  height: 10px;
}

.header .buffer-right {
  width: 100px;
  -ms-flex-negative: 100;
      flex-shrink: 100;
  height: 10px;
}

.header .button-type {
  width: 160px;
  height: 37px;
  line-height: 37px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.header .nav-link {
  font-size: 15px;
  font-family: FuturaBookC;
  color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
}

.header h1 {
  color: #E3B873;
  font-size: 15px;
  font-family: FuturaDemiC;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.header .home {
  color: #E3B873;
}

.header .phone-link {
  font-size: 15px;
  color: #E3B873;
  font-family: FuturaDemiC;
  text-decoration: underline;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 7px;
  padding-left: 7px;
}

.flex-container_one {
  position: relative;
  width: 100%;
  height: 707px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container_one .sidebar-left {
  width: 82px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
}

.flex-container_one .sidebar-left .sidebar-text {
  margin: auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.flex-container_one .sidebar-left .sidebar-text .insta-link {
  position: relative;
  display: inline-block;
  color: #E3B873;
  font-family: FuturaDemiC;
  font-size: 14px;
  padding-right: 60px;
}

.flex-container_one .sidebar-left .sidebar-text .insta-link::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0px;
  height: 2px;
  width: 50px;
  background-color: #E3B873;
}

.flex-container_one .sidebar-left .sidebar-text .insta-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flex-container_one .content-section {
  margin-left: auto;
  -ms-flex-preferred-size: 1358px;
      flex-basis: 1358px;
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("assets/image 4.3.png");
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("assets/image 4.3.png");
  background-size: cover;
}

.flex-container_one .content-section .content-container {
  position: relative;
  width: 540px;
  height: 400px;
  top: 195px;
  left: 60px;
}

.flex-container_one .content-section .content-container .text-head {
  font-family: Yeseva One;
  font-size: 40px;
  color: white;
  line-height: 53px;
}

.flex-container_one .content-section .content-container .text-head span {
  color: #E3B873;
}

.flex-container_one .content-section .content-container .text-block {
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
  color: white;
}

.flex-container_one .content-section .content-container .button-flex-container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container_one .content-section .content-container .button-flex-container .button-type_one {
  width: 207px;
  height: 51px;
  line-height: 51px;
}

.flex-container_one .content-section .content-container .button-flex-container .button-type_one:nth-of-type(2) {
  margin-left: 20px;
  background: none;
  border: 1px solid #FFFFFF;
}

.flex-container_one .scroll-down-block {
  text-align: center;
  width: 250px;
  height: 100px;
  background-color: #131313;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.flex-container_one .scroll-down-block .scroll-link {
  display: inline-block;
  position: relative;
  padding-right: 50px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100px;
  color: #FFFFFF;
}

.flex-container_one .scroll-down-block .scroll-link::after {
  content: '';
  position: absolute;
  top: 35px;
  right: 0px;
  height: 29px;
  width: 29px;
  background-image: url(assets/arrow-down_one.svg);
  background-size: cover;
}

.flex-container_one .scroll-down-block .scroll-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flex-container_two {
  width: 100%;
  height: 655px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #131313;
}

.flex-container_two .column-left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 41%;
      flex-basis: 41%;
  padding-top: 80px;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-container_two .column-left .mobile-slider {
  display: none;
}

.flex-container_two .column-left .text-head {
  position: relative;
  font-family: Yeseva One;
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
  padding-right: 90px;
}

.flex-container_two .column-left .text-head::after {
  content: '';
  position: absolute;
  bottom: 15px;
  right: 0px;
  height: 2px;
  width: 90px;
  background-color: #E3B873;
}

.flex-container_two .column-left .text-block {
  width: 85%;
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.flex-container_two .column-left .charachter-box {
  width: 365px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.flex-container_two .column-left .charachter-box .charachter-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.flex-container_two .column-left .charachter-box .charachter-item .head {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #E3B873;
}

.flex-container_two .column-left .charachter-box .charachter-item .text {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.flex-container_two .column-left .slider {
  text-align: center;
  vertical-align: baseline;
}

.flex-container_two .column-left .slider .item {
  display: inline-block;
  margin-right: 20px;
}

.flex-container_two .column-left .slider .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.flex-container_two .column-left .slider .circle {
  position: relative;
  top: -2px;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.flex-container_two .column-left .slider .active {
  background: white;
}

.flex-container_two .column-right {
  overflow: hidden;
  width: 58%;
  -ms-flex-preferred-size: 845px;
      flex-basis: 845px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container_two .column-right .links {
  padding-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.flex-container_two .column-right .links .link {
  padding: 10px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.3);
}

.flex-container_two .column-right .links .active {
  color: #E3B873;
  position: relative;
}

.flex-container_two .column-right .links .active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0px;
  height: 1px;
  width: 100%;
  background-color: #E3B873;
}

.flex-container_two .column-right .slider {
  position: relative;
  width: 100%;
  max-width: 845px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-container_two .column-right .slider .pic {
  height: 100%;
  width: 80%;
  margin-right: 20px;
}

.flex-container_two .column-right .slider .arrow-right {
  width: 55px;
  height: 55px;
  background-image: url(assets/arrow-right_one.svg);
  background-size: cover;
  position: absolute;
  margin-top: -25px;
  top: 50%;
  right: 5px;
}

.flex-container_two .column-right .slider .arrow-right:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.container_three-one {
  width: 100%;
  height: 640px;
  background: -webkit-gradient(linear, left top, left bottom, from(#131313)), -webkit-gradient(linear, left top, left bottom, from(white));
  background: linear-gradient(#131313), linear-gradient(white);
  background-size: 100% 420px, 100% 220px;
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_three-one .head {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.container_three-one .video {
  width: 814px;
  height: 434px;
  position: relative;
}

.container_three-one .video-frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 434px;
}

.container_three-two {
  width: 100%;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.container_three-two .text-block {
  width: 47%;
  min-width: 330px;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.container_three-two #form_one {
  height: 100px;
  width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_three-two #form_one .name,
.container_three-two #form_one .tel {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
  width: 230px;
}

.container_three-two #form_one input[type='text'],
.container_three-two #form_one input[type='tel'] {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.container_three-two #form_one .button-type {
  height: 51px;
  width: 200px;
}

.mycheckbox {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mycheckbox__descr {
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

.mycheckbox__default {
  display: none;
}

.mycheckbox__default:checked + .mycheckbox__new::after {
  height: 15px;
  width: 15px;
  border-radius: 4px;
  background-size: cover;
  background-image: url(assets/v.svg);
}

.mycheckbox__new {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  margin-right: 9px;
  position: relative;
  background-color: #E3B873;
}

.mycheckbox__new::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.container_four {
  width: 100%;
  background-color: white;
}

.container_four .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 180px;
}

.container_four .text-container .head {
  padding-bottom: 30px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.container_four .flex-container_four {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.container_four .flex-container_four .flex-item {
  height: 610px;
  -ms-flex-preferred-size: 395px;
      flex-basis: 395px;
  position: relative;
  margin-bottom: 40px;
}

.container_four .flex-container_four .flex-item:nth-of-type(1) {
  background: url(assets/column-1.png) top center/contain no-repeat;
}

.container_four .flex-container_four .flex-item:nth-of-type(2) {
  background: url(assets/column-2.png) top center/contain no-repeat;
}

.container_four .flex-container_four .flex-item:nth-of-type(3) {
  background: url(assets/column-3.png) top center/contain no-repeat;
}

.container_four .flex-container_four .flex-item .descr-block {
  width: 83%;
  height: 285px;
  position: absolute;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-left: 34px;
  padding-top: 25px;
  background-color: white;
}

.container_four .flex-container_four .flex-item .descr-block .head {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.container_four .flex-container_four .flex-item .descr-block .descr-list {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.container_four .flex-container_four .flex-item .descr-block .descr-list li {
  position: relative;
  padding-left: 10px;
}

.container_four .flex-container_four .flex-item .descr-block .descr-list li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 10px;
  left: 0px;
  border-radius: 50%;
  background-color: #959595;
}

.container_four .flex-container_four .flex-item .price {
  width: 230px;
  height: 54px;
  position: absolute;
  bottom: 0px;
  left: 32px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(121, 91, 43, 0.3);
          box-shadow: 5px 5px 10px rgba(121, 91, 43, 0.3);
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 54px;
  color: #FFFFFF;
  text-align: center;
}

.flex-container_five {
  background-color: white;
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1200px) {
  .flex-container_five {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
}

.flex-container_five .column-left {
  -ms-flex-preferred-size: 840px;
      flex-basis: 840px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  background: url(assets/image6.1.svg) no-repeat;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .flex-container_five .column-left {
    display: none;
  }
}

.flex-container_five .column-left .circle {
  position: absolute;
  left: -160px;
  top: 50px;
  width: 636px;
  height: 636px;
  border: 4px #E3B873 solid;
  border-radius: 50%;
}

.flex-container_five .column-left .image-number {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 42px;
  height: 42px;
  background-color: #E3B873;
  border-radius: 50%;
  border: 10px solid white;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.flex-container_five .column-left .circle-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400 px;
}

.flex-container_five .column-left .circle-item span {
  font-family: FuturaMediumC;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-left: 10px;
}

.flex-container_five .column-left .circle-item_one {
  left: 360px;
  top: 125px;
}

.flex-container_five .column-left .circle-item_one span {
  width: 370px;
}

.flex-container_five .column-left .circle-item_two {
  left: 425px;
  top: 235px;
}

.flex-container_five .column-left .circle-item_two span {
  width: 300px;
}

.flex-container_five .column-left .circle-item_three {
  left: 440px;
  top: 380px;
}

.flex-container_five .column-left .circle-item_three span {
  width: 300px;
}

.flex-container_five .column-left .circle-item_four {
  left: 375px;
  top: 530px;
}

.flex-container_five .column-left .circle-item_four span {
  width: 300px;
}

.flex-container_five .column-right {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  margin-left: -43px;
}

@media screen and (max-width: 1200px) {
  .flex-container_five .column-right {
    margin-left: 0;
    padding-top: 0;
  }
}

.flex-container_five .column-right .economy-block {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container_five .column-right .economy-block span {
  width: 225px;
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

#form_two {
  height: 505px;
  width: 83%;
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
}

#form_two .head {
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  width: 230px;
}

#form_two .name,
#form_two .tel,
#form_two .email {
  width: 100%;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

#form_two input[type='text'],
#form_two input[type='tel'],
#form_two input[type='email'] {
  position: relative;
  width: 100%;
  border: none;
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  background: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#form_two input[type='text']::-webkit-input-placeholder,
#form_two input[type='tel']::-webkit-input-placeholder,
#form_two input[type='email']::-webkit-input-placeholder {
  color: white;
}

#form_two input[type='text']:-ms-input-placeholder,
#form_two input[type='tel']:-ms-input-placeholder,
#form_two input[type='email']:-ms-input-placeholder {
  color: white;
}

#form_two input[type='text']::-ms-input-placeholder,
#form_two input[type='tel']::-ms-input-placeholder,
#form_two input[type='email']::-ms-input-placeholder {
  color: white;
}

#form_two input[type='text']::placeholder,
#form_two input[type='tel']::placeholder,
#form_two input[type='email']::placeholder {
  color: white;
}

#form_two .mycheckbox__descr {
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

#form_two .mycheckbox {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#form_two .button-type {
  height: 51px;
  width: 213px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flex-container_six {
  width: 100%;
  height: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .flex-container_six {
    display: none;
  }
}

.flex-container_six .mobile-slider {
  display: none;
}

.flex-container_six .background-block {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  height: 864px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("assets/image 5.1.png");
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("assets/image 5.1.png");
  background-size: cover;
}

.flex-container_six .column-left {
  z-index: 1;
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.flex-container_six .column-left .head {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
  margin-bottom: 40px;
}

.flex-container_six .column-left span {
  font-family: Proxima Nova;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
}

.flex-container_six .column-left span:nth-of-type(1) {
  color: #E3B873;
  text-decoration: underline;
}

.flex-container_six .column-right {
  z-index: 1;
  -ms-flex-preferred-size: 950px;
      flex-basis: 950px;
}

.flex-container_six .column-right img:nth-of-type(1) {
  position: absolute;
  top: 70px;
  right: 490px;
}

.flex-container_six .column-right img:nth-of-type(2) {
  position: absolute;
  top: 662px;
  right: 490px;
}

.flex-container_six .column-right img:nth-of-type(3) {
  position: absolute;
  top: 0px;
  right: 100px;
}

.flex-container_six .column-right img:nth-of-type(4) {
  position: absolute;
  top: 310px;
  right: 100px;
}

.container-six-mobile-wrap {
  display: none;
}

.container_seven {
  border: 3px #b48319 solid;
  background-color: #f0d190;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 1000px;
}

.container_seven .text-container {
  border: 3px #b48319 solid;
  background-color: #f0d190;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 235px;
}

.container_seven .flex-container_seven {
  border: 3px #8e45c9 solid;
  background-color: #e2cff1;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_seven .flex-container_seven .flex-item {
  border: 3px #b48319 solid;
  background-color: #f0d190;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  -ms-flex-preferred-size: 395px;
      flex-basis: 395px;
}

.flex-container_eight {
  border: 3px #5454c5 solid;
  background-color: #d9d9f2;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 655px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container_eight .column-left {
  border: 3px brown solid;
  background-color: #e69c9c;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
}

.flex-container_eight .column-right {
  border: 3px grey solid;
  background-color: #d9d9d9;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  -ms-flex-preferred-size: 950px;
      flex-basis: 950px;
}

.container_nine {
  border: 3px #69d307 solid;
  background-color: #c4fb91;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
}

.container_nine .text-container_one {
  border: 3px #b48319 solid;
  background-color: #f0d190;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 185px;
}

.container_nine .text-container_two {
  border: 3px #b48319 solid;
  background-color: #f0d190;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 215px;
}

.container_nine .flex-container_nine {
  border: 3px #8e45c9 solid;
  background-color: #e2cff1;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_nine .flex-container_nine .flex-item {
  border: 3px #b48319 solid;
  background-color: #f0d190;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  -ms-flex-preferred-size: 395px;
      flex-basis: 395px;
}

.container_ten {
  border: 3px #ff0808 solid;
  background-color: #ffbbbb;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
}

.container_ten .text-container {
  border: 3px #b48319 solid;
  background-color: #f0d190;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 225px;
}

.container_ten .flex-container_ten {
  border: 3px #8e45c9 solid;
  background-color: #e2cff1;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_ten .flex-container_ten .flex-item {
  border: 3px #b48319 solid;
  background-color: #f0d190;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  -ms-flex-preferred-size: 395px;
      flex-basis: 395px;
}

.container_twelve {
  border: 3px #54c590 solid;
  background-color: #d9f2e7;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  width: 100%;
  height: 1260px;
}

.footer {
  border: 3px #4376d4 solid;
  background-color: #d4e0f5;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: darkblue;
  padding: 3px;
  height: 132px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */